*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(-45deg, #ffce51, #ff7253,#fd5754);
    
  }
  
  .container{
    background-color: #db4f4f;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
  }
  
  .header{
    background: linear-gradient(-45deg, #eec04c, #dc3915,#bb4a48);;
    padding: 24px;
    text-align: center;
    color: white;
  }
  
  .form{
    padding: 18px;
  }
  
  .form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
    color: #FFF;
  }
  
  .form-content label{
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #f9f9ff;
  }
  
  .form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
  }
  
  .form button{
    background: linear-gradient(-45deg, #eec04c, #ec7054,#ee5a57);
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
  }
  
  .form-content.error input{
    border-color: #ff3b25;
  }
  
  .form-content.error a{
    color: #efe5e4;
    visibility: visible;
  }